<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Quality Prediction</title>
    <link href="/static/style.css" rel="stylesheet"/>
</head>
<body>
    <h1>Wine Quality Detection</h1>
    
    <form action="#" method="POST">
    <label for="type">Choose an option:</label>
        <select id="type" name="type">
            <option value="0">White</option>
            <option value="1">Red</option>
        </select>
        <label for="fixed_acidity">fixed_acidity</label>
        <input type="text"  name="fixed_acidity" required>

        <label for="volatile_acidity">volatile_acidity</label>
        <input type="text"  name="volatile_acidity" required>
        
        <label for="citric_acidity">citric_acidity</label>
        <input type="text"  name="citric_acidity" required>
        
        <label for="residual_sugar">residual_sugar</label>
        <input type="text"  name="residual_sugar" required>
        
        <label for="chlorides">chlorides</label>
        <input type="text"  name="chlorides" required>
        
        <label for="free_sulfur_dioxode">free_sulfur_dioxode</label>
        <input type="text"  name="free_sulfur_dioxode" required>
        
        <label for="total_sulfur_dioxode">total_sulfur_dioxode</label>
        <input type="text"  name="total_sulfur_dioxode" required>
        
        <label for="density">density</label>
        <input type="text"  name="density" required>
        
        <label for="ph">PH</label>
        <input type="text"  name="ph" required>
        
        <label for="sulphates">sulphates</label>
        <input type="text"  name="sulphates" required>
        
        <label for="alcohol">alcohol</label>
        <input type="text"  name="alcohol" required>
        <input  type="submit" value="Submit">
    </form>
    
        

   


        
    
</body>
</html>
